#String Based Assignment Problem

1. Write a program to reverse a string.

In [3]:
#creating the input method to take the text and apply reverse function
A = str(input("Enter a text here:  "))[::-1]
print(A)

Enter a text here:   Hello

olleH

2. Check if a string is a palindrome.

In [4]:
#Creating a string to check whether it is palindrome or not
A = str(input("Enter here:  "))
B = A[::-1]
print("palindrome result is: ",A==B)

Enter here:   level

palindrome result is:  True

3. Convert a string to uppercase.
4. Convert a string to lowercase.

In [8]:
A = str(input("Enter a text here: ")).upper()
B = str(input("Enter a text here: ")).lower()
print('Uppercase result: ',A,'  ','Lowercase result: ', B, end=" ")

Enter a text here:  Data Science
Enter a text here:  Data Science

Uppercase result:  DATA SCIENCE    Lowercase result data science

5. Count the number of vowels in a string.
6. Count the number of consonants in a string.

In [30]:
#Creating a function to count the vowels and consonant in the string
S = str(input('Enter a text here: ')).lower()

#Creating vowels and consonant list
A = ['a','e','i','o','u']
B = ['b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z']

A1 = {r:S.count(r) for r in A}
print('List of vowels: ',A1)

print('         ')

B1 = {r:S.count(r) for r in B}
print('List of consonant: ',B1)

Enter a text here:  Data science is my course

List of vowels:  {'a': 2, 'e': 3, 'i': 2, 'o': 1, 'u': 1}

List of consonant:  {'b': 0, 'c': 3, 'd': 1, 'f': 0, 'g': 0, 'h': 0, 'j': 0, 'k': 0, 'l': 0, 'm': 1, 'n': 1, 'p': 0, 'q': 0, 'r': 1, 's': 3, 't': 1, 'v': 0, 'w': 0, 'x': 0, 'y': 1, 'z': 0}

7. Remove all whitespaces from a string.

In [31]:
A = "   Hello   "
print(A.strip())

Hello

8. Find the length of a string without using the `len()` function.

In [47]:
#Declare my string
A  = 'data science'

#Checking my len in the string
print(len(A))

#function without using len to find the len of string
print(sum(1 for c in A))

12
12

9. Check if a string contains a specific word.

In [60]:
#Creating input feature for sentence and word check
A = str(input("enter a text here:  "))
B = str(input("which word need to find: "))

if A.find(B) != -1:
    print ("String contain the word of: ", B)
else:
    print ("String not contain the word of: ", B)

enter a text here:   Data Science is the future
which word need to find:  Science

String contain the word of:  Science

10. Replace a word in a string with another word.

In [62]:
#Declare the string
A = "I Love Data Science"
A.replace('Love','like')

'I like Data Science'

11. Count the occurrences of a word in a string.

In [33]:
#Creating a input for sentence 
A = str(input("Enter a sentence here: ")).lower()

B = [(c,A.count(c)) for c in set(A.split())]

print(B)

Enter a sentence here:  I would like to thank my mentor for teaching data science course and make me a expert in data science

[('thank', 1), ('for', 1), ('a', 9), ('me', 2), ('science', 2), ('like', 1), ('my', 1), ('teaching', 1), ('would', 1), ('i', 6), ('course', 1), ('make', 1), ('mentor', 1), ('in', 2), ('to', 2), ('data', 2), ('and', 1), ('expert', 1)]

12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.

In [42]:
#Declare the string
A = "I am working on data science project and data analysis"

#printing the first and last occurance of the index in string 
print("first occurance in the string: ", A.find('data'))
print("Last occurance in the string: ", A.rfind('data'))

first occurance in the string:  16
Last occurance in the string:  41

14. Split a string into a list of words.
15. Join a list of words into a string.

In [67]:
#Declare the string for split and join
I = "I am very much eager to learn the data science"

#Creating a string to list
J =I.split()
print(J)

#convert list to join
S = " ".join(J)
print(S)

['I', 'am', 'very', 'much', 'eager', 'to', 'learn', 'the', 'data', 'science']
I am very much eager to learn the data science

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [1]:
S = "I love data science"
S.replace(' ','_')

'I_love_data_science'

17. Check if a string starts with a specific word or phrase.
18. Check if a string ends with a specific word or phrase.

In [8]:
S = 'I want to be an expert in the data science field'
print(S.startswith('I'))
print(S.endswith('field'))

True
True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [9]:
S = 'DATA SCIENCE'
S.title()

'Data Science'

20. Find the longest word in a string.
21. Find the shortest word in a string.
22. Reverse the order of words in a string.

In [44]:
S = "Machine Leraning palying a major role in the company"

print('Longest word is : ', max(S.split(), key = len))
print('shortest word is : ', min(S.split(), key = len))
print('Reverse order of word : ', ' '.join(S.split()[::-1]))

Longest word is :  Leraning
shortest word is :  a
Reverse order of word :  company the in role major a palying Leraning Machine

23. Check if a string is alphanumeric.
24. Extract all digits from a string.
25. Extract all alphabets from a string.

In [111]:
S = "Ravi is class 1st & 2nd in the subject"
print('Isalphanum in the string : ', (''.join(e for e in S if e.isalnum())).isalnum())
print('Digit in the string : ', [s for s in S if s.isdigit()])
D = S.split()
print('Alphabets in the string : ',' '.join(s for s in D if s.isalpha()))

Isalphanum in the string :  True
Digit in the string :  ['1', '2']
Alphabets in the string :  Ravi is class in the subject

26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.

In [39]:
A = 'DATA SCIENCE is the FUTURE'

print("Uppercase count in String: ",len("".join(C for C in set(A) if C.isupper())))
print("Lowercase count in String: ",len("".join(C for C in set(A) if C.islower())))

Uppercase count in String:  11
Lowercase count in String:  5

28. Swap the case of each character in a string.
29. Remove a specific word from a string.

In [42]:
A = 'Data Science'

print("swapcase : ",A.swapcase())
print("Removed word: ",A.removeprefix('Data'))

swapcase :  dATA sCIENCE
Removed word:   Science

30. Check if a string is a valid email address.

In [48]:
A = 'boobalan.m001@gmail.com'
B = ['@outlook.com', '@gmail.com', '@yahoo.com']

domain = A.split('@')[-1]

if any(domain in email for email in B):
    print(f"{A} is a simple valid email address.")
else:
    print(f"{A} is not a valid email address.")

boobalan.m001@gmail.com is a simple valid email address.

31. Extract the username from an email address string.
32. Extract the domain name from an email address string.
33. Replace multiple spaces in a string with a single space.
34. Check if a string is a valid URL.

In [8]:
A = 'boobalan.m001@gmail.com'

print('Username in string: ',A.split('@')[0])
print('domain in string: ',A.split('@')[-1])

B = 'This   is the    string   with  multiple space'
print('With single space : ',' '.join(B.split()))

D = 'www.google.com'
if 'www' in D:
    print ('This URL is : ',"valid URL")
else:
    print ('This URL is : ',"Not Valid URL")

Username in string:  boobalan.m001
domain in string:  gmail.com
With single space :  This is the string with multiple space
This URL is :  valid URL

35. Extract the protocol (http or https) from a URL string.
36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.

In [22]:
A = 'https://www.google.com'
print('Protocal from the URL :',A[:(A.index('://'))])
print('Frequency of char : ',([(b, A.count(b)) for b in set(A)]))
print('Removed Punctuation : ', ''.join(e for e in A if e.isalnum()))

Protocal from the URL : https
Frequency of char :  [('l', 1), ('o', 3), ('p', 1), ('.', 2), ('h', 1), ('/', 2), ('e', 1), ('t', 2), (':', 1), ('c', 1), ('m', 1), ('w', 3), ('g', 2), ('s', 1)]
Removed Punctuation :  httpswwwgooglecom

38. Check if a string contains only digits.
39. Check if a string contains only alphabets.
40. Convert a string to a list of characters.

In [36]:
A = '87540'
B = 'science'
print('String contain only num :',A.isdigit())
print('String contain only alpha :',B.isalpha())
print('List of string :',([a for a in sorted(set(B))]))

String contain only num : True
String contain only alpha : True
List of string : ['c', 'e', 'i', 'n', 's']

41. Check if two strings are anagrams.

In [45]:
A = 'listen'
B = 'silent'

if sorted(A)==sorted(B):
    print('Two strings are anagrams')
else:
    print("Two strings are not anagrams")

Two strings are anagrams

42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.

In [50]:
A = str(input("Enter a text here :"))
B = int(input("Enter a num here :"))

def encrp(A , B):
    record = ""
    for i in A:
        if i.isalpha():
            num = 65 if i.isupper() else 97
            encode = chr((ord(i) - num + B)%26 + num)
            record += encode
        else:
            record += i
    return record

def Decrp(A,B):
    return encrp(A,-B)

C = encrp(A, B)

print("Encoded word : ",encrp(A, B))
print("Decoded word : ",Decrp(C, B))

Enter a text here : Hello, World!
Enter a num here : 5

Encoded word :  Mjqqt, Btwqi!
Decoded word :  Hello, World!

44. Find the most frequent word in a string.
45. Find all unique words in a string.
46. Count the number of syllables in a string.

In [6]:
F = "Data is fuel in corporate and most valuable in the corporate. Also data is more important"

word_list = [(word, F.count(word)) for word in set(F.split())]

max_count = max(word_list, key=lambda x: x[1])[1]

most_frequent_words = [word for word, count in word_list if count == max_count]

print("Most frequent word(s):", most_frequent_words)
print("Frequency:", max_count)

Most frequent word(s): ['is', 'corporate', 'in']
Frequency: 2

In [7]:
A = 'Apple Apple Banana Banana Grape Cherry'

print('Unique word in the string', set(A.split()))

Unique word in the string {'Apple', 'Grape', 'Banana', 'Cherry'}

In [8]:
import re
def count_syllables(word):
    vowels = re.findall(r'[aeiouyAEIOUY]+', word)
    return len(vowels)

text = "Data science is the future in the world and ervery where based on the data"
words = text.split()
total_syllables = sum(count_syllables(word) for word in words)

print("Total syllables:", total_syllables)

Total syllables: 24

47. Check if a string contains any special characters.
48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.
50. Convert a CSV string to a list of lists.

In [26]:
import re
def has_special_characters(input_string):
    special_chars = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\]')
    return bool(special_chars.search(input_string))

input_string = "Hello, this is a boobalan murugan!"
if has_special_characters(input_string):
    print("String contains special characters.")
else:
    print("String does not contain special characters.")

String contains special characters.

In [12]:
def rem(text, num):
    word = text.split()
    if 1 <= num <= len(word):
        del word[num -1]
        return ' '.join(word)
    else:
        return text

A = "Data science is the future and every company have data to improve"
B = 5
print('Removed word from the string',rem(A,B))

Removed word from the string Data science is the and every company have data to improve

In [23]:
def ins(A , B, C):
    word = A.split()
    if C <= len(word):
        word.insert(C, B)
        return ' '.join(word)
    else:
        return A
A = "Data science is the future and every company have data to improve"
B = 'world'
C = 5
print('Inserted word',ins(A, B, C))

Inserted word Data science is the future world and every company have data to improve

In [25]:
import csv
def csv_string_to_list(csv_string):
    csv_list = list(csv.reader(csv_string.splitlines()))
    return csv_list

csv_string = "John,Doe,30\nAlice,Smith,25\nBob,Johnson,35"
csv_list = csv_string_to_list(csv_string)
print(csv_list)

[['John', 'Doe', '30'], ['Alice', 'Smith', '25'], ['Bob', 'Johnson', '35']]

#List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [29]:
A = list(range(1,11))
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [35]:
A = list(range(1,11))

print('Without len function: ', sum(1 for _ in A) )

Without len function:  10

3. Append an element to the end of a list.
4. Insert an element at a specific index in a list.
5. Remove an element from a list by its value.
6. Remove an element from a list by its index.

In [1]:
A = [1,2,3,4,5,6,7,8,9,10]

print('Appended list :', A.append(11), A)
print('Inserted list :', A.insert(3, 12), A)
print('Remove by value:',A.remove(11), A)
print('Remove by index:',A.pop(3), A)

Appended list : None [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Inserted list : None [1, 2, 3, 12, 4, 5, 6, 7, 8, 9, 10, 11]
Remove by value: None [1, 2, 3, 12, 4, 5, 6, 7, 8, 9, 10]
Remove by index: 12 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.
8. Find the index of the first occurrence of an element in a list.
9. Count the occurrences of an element in a list.
10. Reverse the order of elements in a list.

In [29]:
A = [0,1,2,3,3,4,5]
B = int(input('Enter a num :'))
print('Checking element', B in A)
print('First Occurrence index: ', A.sort(),A.index(4))
print('Occurance  count: ', ([(i,A.count(i)) for i in A]))
print('Reversed list: ', list(reversed(A)))

Enter a num : 4

Checking element True
First Occurrence index:  None 5
Occurance  count:  [(0, 1), (1, 1), (2, 1), (3, 2), (3, 2), (4, 1), (5, 1)]
Reversed list:  [5, 4, 3, 3, 2, 1, 0]

11. Sort a list in ascending order.
12. Sort a list in descending order.
13. Create a list of even numbers from 1 to 20.
14. Create a list of odd numbers from 1 to 20.
15. Find the sum of all elements in a list.
16. Find the maximum value in a list.
17. Find the minimum value in a list.

In [21]:
I = [3,6,2,1,5,4,7,9,8,10]

print('Ascending Order: ', I.sort(), I)
print('Decending Order: ', I.sort(reverse=True), I)
print('Even Number: ', list(range(2,20,2)))
print('Odd Number: ', list(range(1,20,2)))
print('Sum Value: ', sum(i for i in I))
print('Max Value: ', max(I))
print('Max Value: ', min(I))

Ascending Order:  None [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Decending Order:  None [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
Even Number:  [2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd Number:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Sum Value:  55
Max Value:  10
Max Value:  1

18. Create a list of squares of numbers from 1 to 10.
19. Create a list of random numbers.
20. Remove duplicates from a list.

In [35]:
A = [1,2,3,4,5,6,7,8,9,10]

def sq(A):
    New = []
    for i in A:
        S = i*i
        New.append(S)
    return New

print('Squared Num: ',sq(A))      

import random
print('Random num: ',random.sample(range(1,50),10))

I = [2,2,5,6,3,3,8,9,10,2,5,6,7,1]
print('Unique num: ',set(I))

Squared Num:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Random num:  [36, 19, 31, 15, 14, 35, 37, 10, 48, 21]
Unique num:  {1, 2, 3, 5, 6, 7, 8, 9, 10}

21. Find the common elements between two lists.
22. Find the difference between two lists.
23. Merge two lists.
24. Multiply all elements in a list by 2.
25. Filter out all even numbers from a list.

In [48]:
A = [2,3,4,5,7,8,9,10]
B = [1,2,3,5,6,8,6,11]
C = list(range(2,10000,2))
print('Common element: ', [i for i in A if i in B])
print('Differ element: ', ([i for i in A if i not in B]+[i for i in B if i not in A]))
print('Merger List: ', A+B)
print('Multiple by 2: ', [i*2 for i in A])
print('Filterout Even: ',[i for i in A if i not in C])

Common element:  [2, 3, 5, 8]
Differ element:  [4, 7, 9, 10, 1, 6, 6, 11]
Merger List:  [2, 3, 4, 5, 7, 8, 9, 10, 1, 2, 3, 5, 6, 8, 6, 11]
Multiple by 2:  [4, 6, 8, 10, 14, 16, 18, 20]
Filterout Even:  [3, 5, 7, 9]

26. Convert a list of strings to a list of integers.
27. Convert a list of integers to a list of strings.

In [58]:
S = ['1','2','3','4','5','6']
Y = [1,2,3,4,5,6]
print('String to integer: ',[int(i) for i in S])
print('integer to String: ',[str(i) for i in Y])

String to integer:  [1, 2, 3, 4, 5, 6]
integer to String:  ['1', '2', '3', '4', '5', '6']

28. Flatten a nested list.

In [84]:
A = [1, [2, 3], [4, [5, 6]], 7,[4,5,[6,7,8]]]

def flat(A):
    new = []
    for i in A:
        if isinstance(i, list):
            new.extend(flat(i))
        else:
            new.append(i)
    return new

print(flat(A))

[1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [94]:
def fib (A):
    New = [1,1]
    for _ in range (A):
        B = New[-1]+New[-2]
        New.append(B)
        if len(New) == A:
            break
    return New

print('First 10 Fibonacci numbers: ',fib(10))

First 10 Fibonacci numbers:  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [96]:
def SOR(A):
    if len(A) <= 1:
        return True
    for i in range(len(A)-1):
        if A[i] > A[i+1]:
            return False
    return True

A = [1,2,3,4,5]
B = [2,1,5,6,4]
print('Is sorted: ',SOR(A))
print('Is sorted: ',SOR(B))

Is sorted:  True
Is sorted:  False

31. Rotate a list to the left by `n` positions.
32. Rotate a list to the right by `n` positions.

In [21]:
A = [1,2,3,4,5,6,7,8]

def rotate_L(lst, n):
    if n > len(lst):
        return ('Given value greater than length of index', lst)
    else:
        rotated_list = lst[n:] + lst[:n]
    return rotated_list


def rotate_R(lst, n):
    if n > len(lst):
        return ('Given value greater than length of index', lst)
    else:
        rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

print(rotate_L(A, 5))
print(rotate_R(A, 5))

[6, 7, 8, 1, 2, 3, 4, 5]
[4, 5, 6, 7, 8, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [63]:
A= 50
def prime(A): 
    def CP(a):
        for i in range(2,a):
            if (a%i) == 0:
                return False
        return True

    prime_num = []

    for i in range(2,A+1):
        if CP(i):
            prime_num.append(i)
    return prime_num

print(f"Prime num till {A} is ",prime(50))

Prime num till 50 is  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [70]:
def split_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

A = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
B = 3
result = split_list(A, B)
print("Splited list",result)

Splited list [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.
36. Replace every element in a list with its square.

In [75]:
A = [2,4,6,5,3,8,1,10,8]
A.sort()
print('Second Largest Num is : ', A[-2])
print('Squared Value :',[ i*i for i in A])

Second Largest Num is :  8
Squared Value : [1, 4, 9, 16, 25, 36, 64, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [78]:
A = ["apple", "banana", "cherry", "date"]
B = {element: index for index, element in enumerate(A)}
print("Converted list",B)

Converted list {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [85]:
import random
A=[1,2,3,4,5,6,7,8,9]
random.shuffle(A)
print('Random shuffle :', A)

Random shuffle : [2, 1, 6, 9, 5, 4, 7, 8, 3]

39. Create a list of the first 10 factorial numbers.

In [3]:
def Fac(d):
    S = []
    D = 1
    if d <=0:
        print('No Factorial')
    else:
        for i in range(1,d+1):
            D = D*i
            S.append(D)
    return S

print(Fac(10))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [115]:
def com(A , B):
    S = []
    A = set(A)
    B = set(B)
    C = [i for i in A if i in B]
    S.append(C)
    return S

A = [1,2,3,4,5,6,7]
B = [4,7,8,9,10]
print('Common Element',com(A,B))

Common Element [[4, 7]]

41. Remove all elements from a list.
42. Replace negative numbers in a list with 0.

In [120]:
A = [1,2,3,4,5,6,7]
A.clear()
print("Removed all element :",A)

B = [-1,-2,3,4,5,6,-7]
print("Replaced Negative num :", [i if i >= 0 else 0 for i in B])

Removed all element : []
Replaced Negative num : [0, 0, 3, 4, 5, 6, 0]

43. Convert a string into a list of words.
44. Convert a list of words into a string.

In [122]:
A = "Apple Banana Grape Cherry Pineapple Gova"
B = A.split()
print('String to List :',B)
print('List to String :',' '.join(B))

String to List : ['Apple', 'Banana', 'Grape', 'Cherry', 'Pineapple', 'Gova']
List to String : Apple Banana Grape Cherry Pineapple Gova

45. Create a list of the first `n` powers of 2.

In [129]:
n = 5
D = [2**i for i in range(n)]
print('n power of 2 :',D)

n power of 2 : [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.
47. Find the shortest string in a list of strings.

In [148]:
A = ["Apple","Banana","Grape","Cherry","Pineapple","Gova"]

print('Longest String: ', max(A,  key=(lambda c: len(c))))
print('Shortest String: ', min(A,  key=(lambda c: len(c))))

Longest String:  Pineapple
Shortest String:  Gova

48. Create a list of the first `n` triangular numbers.

In [159]:
def triangular(n):
    L  = []
    for i in range(1,10000,1):
        a = (int(i*(i+1)/2))
        if a <= n:
            L.append(a)
    return L

print(triangular(100))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91]

49. Check if a list contains another list as a subsequence.
50. Swap two elements in a list by their indices.

In [32]:
def ss(a, b):
    c, d = len(a), len(b)
    i = 0
    for j in range(d):
        if a[i] == b[j]:
            i += 1
            if i == c:
                return True
    return i == c

a = [1, 2, 3, 4, 5, 6]
b = [2,4]

print(ss(b, a))

True

In [33]:
my_list = [1, 2, 3, 4, 5]
index1, index2 = 1, 3

if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]
    print("List after swapping:", my_list)
else:
    print("Invalid indices")

List after swapping: [1, 4, 3, 2, 5]

#

#Tuple List Question

1. Create a tuple with integers from 1 to 5.
2. Access the third element of a tuple.
3. Find the length of a tuple without using the `len()` function.
4. Count the occurrences of an element in a tuple.

In [10]:
A = tuple(range(1,6))
print('Tuple List: ',A)
print('Third Element: ',A[2])
print('Length of Tuple: ',sum([A.count(c) for c in A]))
print('Occurrence element: ', [(c, A.count(c)) for c in A ])

Tuple List:  (1, 2, 3, 4, 5)
Third Element:  3
Length of Tuple:  5
Occurrence element:  [(1, 1), (2, 1), (3, 1), (4, 1), (5, 1)]

5. Find the index of the first occurrence of an element in a tuple.
6. Check if an element exists in a tuple.
7. Convert a tuple to a list.
8. Convert a list to a tuple.

In [29]:
A = (2,3,4,5,1,5,7,8)

print('Index of the element: ', A.index(5))

Index of the element:  3

In [37]:
A = (1,2,3,4,5,6,7)

def CT (e, f):
    if f in e:
        return True
    else:
        return False

print('Checking Result: ',CT(A, 5))

Checking Result:  True

In [39]:
A=(1,2,3,4,5,6,7)
B = [1,2,3,4,5,6,7,]

print('Tupple to List: ',list(A))
print('List to Tuple: ',tuple(B))

Tupple to List:  [1, 2, 3, 4, 5, 6, 7]
List to Tuple:  (1, 2, 3, 4, 5, 6, 7)

9. Unpack the elements of a tuple into variables.
10. Create a tuple of even numbers from 1 to 10.
11. Create a tuple of odd numbers from 1 to 10.

In [49]:
A = (1,2,3,4,5)

def unpack(a):
    Variable = {}
    for i, value in enumerate(A, start=1):
        Variable[f'Var{i}'] = value
    return Variable
print('Unpack the element : ',unpack(A))
print('Tuple Even Num: ', tuple(range(2,11,2)))
print('Tuple Odd Num: ', tuple(range(1,11,2)))

Unpack the element :  {'Var1': 1, 'Var2': 2, 'Var3': 3, 'Var4': 4, 'Var5': 5}
Tuple Even Num:  (2, 4, 6, 8, 10)
Tuple Odd Num:  (1, 3, 5, 7, 9)

12. Concatenate two tuples.
13. Repeat a tuple three times.

In [56]:
A = (1,2,3,4,5)
B = (6,7,8,9,10)
C = (A+B)
print('Concatenate value :',C)
print('Three time : ',A*3)

Concatenate value : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Three time :  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [60]:
A = ()

if not A:
    print('Tuple is empty')
else:
    print('Tuple is not empty')

Tuple is empty

15. Create a nested tuple.

In [62]:
B = ((1,2,3),(4,5,6),(7,8,9))

print('Nested Tuple : ',B)

Nested Tuple :  ((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.
17. Create a tuple with a single element.
18. Compare two tuples.

In [76]:
print('first element of nested list: ',B[0])

first element of nested list:  1

In [77]:
A = (2,)
print('Single Element :', type(A))

Single Element : <class 'tuple'>

In [78]:
A = (1, 2, 3)
B = (1, 2, 4)
if A == B:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

19. Delete a tuple.
20. Slice a tuple.

In [86]:
A = (1,2,3,4,5)
del[A]

In [89]:
A = (1,2,3,4,5)
print(A[:3])

(1, 2, 3)

21. Find the maximum value in a tuple.
22. Find the minimum value in a tuple.

In [90]:
A = (1,2,3,4,5)
print('Maximum Number: ', max(A))
print('Minimum Number: ', min(A))

Maximum Number:  5
Minimum Number:  1

23. Convert a string to a tuple of characters.
24. Convert a tuple of characters to a string.

In [96]:
A = 'How are you'
B = tuple(A)
print('String to tuple: ',B)
C= str(''.join(B))
print('tuple to String: ',C)

String to tuple:  ('H', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')
tuple to String:  How are you

25. Create a tuple from multiple data types.

In [102]:
A = (1,2,'data',[1,2,3],{4,5},{1:'Q',2:'B'})
print('Multiple data type :',type(A[1]),type(A[2]),type(A[3]))

Multiple data type : <class 'int'> <class 'str'> <class 'list'>

26. Check if two tuples are identical.

In [4]:
A = (1, 2, 3)
B = (1, 2, 3)

if A == B:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are identical

27. Sort the elements of a tuple.

In [8]:
A = (5,4,1,3,2,6)
print('Sorted list : ',tuple(sorted(A)))

Sorted list :  (1, 2, 3, 4, 5, 6)

28. Convert a tuple of integers to a tuple of strings.
29. Convert a tuple of strings to a tuple of integers.

In [12]:
A = (1,2,3,4,5)
B = ('1', '2', '3', '4', '5')

print('Integer to String :', tuple([str(c) for c in A]))
print('String to Integer :', tuple([int(c) for c in A]))

Integer to String : ('1', '2', '3', '4', '5')
String to Integer : (1, 2, 3, 4, 5)

30. Merge two tuples.

In [13]:
A = (1,2,3,4,5)
B = (6,7,8,9,10)
C = A+B
print('Merge two tuple :',C)

Merge two tuple : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31. Flatten a nested tuple.

In [19]:
A =(1,2,3,(2,3,(4)))

def FN(a):
    B=[]
    for i in a:
        if isinstance(i,tuple):
            B.extend(FN(i))
        else:
            B.append(i)
    return tuple(sorted(B)) 

print('Flatten Nested Tuple :',FN(A))

Flatten Nested Tuple : (1, 2, 2, 3, 3, 4)

32. Create a tuple of the first 5 prime numbers.

In [36]:
def PM(a, b):
    
    def PMC(a):
        for i in range(2,a):
            if (a%i==0):
                return False
        return True
    
    A = [i for i in range(2, a+1) if PMC(i)][:b]
    
    return tuple(A)    

A = 100
B = 5
print('First 5 prime num: ',PM(A,B))

First 5 prime num:  (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [43]:
A = (1,2,1)

def pl(a):
    return a ==a[::-1]
    
if pl(A):
    print('This tuple is palindrome')
else:
    print('This tuple is not palindrome')

This tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.
35. Filter out all even numbers from a tuple.
36. Multiply all elements in a tuple by 2.

In [53]:
A = (1,2,3,4,5,6,7,8)

print('Squared value :',tuple([i*i for i in A]))
print('Even Number :', tuple([i for i in A if i in range(2,10000,2)]))
print('Multiple by 2 :',tuple([i*2 for i in A]))

Squared value : (1, 4, 9, 16, 25, 36, 49, 64)
Even Number : (2, 4, 6, 8)
Multiple by 2 : (2, 4, 6, 8, 10, 12, 14, 16)

37. Create a tuple of random numbers.

In [57]:
import random
A = random.sample(range(1,100),10)
print('Random Number: ',tuple(A))

Random Number:  (57, 55, 91, 29, 26, 67, 51, 95, 34, 10)

38. Check if a tuple is sorted.

In [62]:
A = (1,2,6,4,5)

def sor(a):
    if len(a) <= 1:
        return True
    
    for i in range(len(a)-1):
        if a[i] > a[i+1]:
            return False
    return True

print(sor(A))

False

39. Rotate a tuple to the left by `n` positions.
40. Rotate a tuple to the right by `n` positions.

In [63]:
A = (1,2,3,4,5,6,7,8)

def rotate_L(lst, n):
    if n > len(lst):
        return ('Given value greater than length of index', lst)
    else:
        rotated_list = lst[n:] + lst[:n]
    return rotated_list


def rotate_R(lst, n):
    if n > len(lst):
        return ('Given value greater than length of index', lst)
    else:
        rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

print(rotate_L(A, 5))
print(rotate_R(A, 5))

(6, 7, 8, 1, 2, 3, 4, 5)
(4, 5, 6, 7, 8, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.
42. Create a tuple from user input.
43. Swap two elements in a tuple.
44. Reverse the elements of a tuple.

In [13]:
A = (1,2,3,4,5)
C = tuple(input("Enter a input here :"))
D = list(A)
D[0], D[1] = D[1],D[0]

def fab(a):
    N = [1,2]
    for i in range(1,1000000+1):
        s = N[-2] + N[-1]
        N.append(s)
        if len(N) == a:
            break
    return N
print('Fibonacci Number :', tuple(fab(5)))
print('User input :', C)
print('Swapped Element: ',tuple(D)) 
print('Reversed element :',A[::-1])

Enter a input here : 5

Fibonacci Number : (1, 2, 3, 5, 8)
User input : ('5',)
Swapped Element:  (2, 1, 3, 4, 5)
Reversed element : (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [21]:
n = 8
B = tuple([2*i for i in range(1,n+1)])
print('Power of 2: ',B)

Power of 2:  (2, 4, 6, 8, 10, 12, 14, 16)

46. Find the longest string in a tuple of strings.
47. Find the shortest string in a tuple of strings.

In [30]:
A = ('Apple','Banana','Grape','Pineapple','Gova')

print('Longest String in the tuple is :',max(A, key =(lambda c : len(c))))
print('Shortest String in the tuple is :',min(A, key =(lambda c : len(c))))

Longest String in the tuple is : Pineapple
Shortest String in the tuple is : Gova

48. Create a tuple of the first `n` triangular numbers.

In [152]:
n = 8
print('Triangular Number :', tuple([(int(i*(i+1)/2)) for i in range(1,n+1)]))

Triangular Number : (1, 3, 6, 10, 15, 21, 28, 36)

49. Check if a tuple contains another tuple as a subsequence.

In [34]:
A = (1,2,3,4,5,6,7,8)
B = (1,2,3)

def ch(a, b):
    a1, b1 = len(a), len(b)
    i=0
    for j in range(b1):
        if a[i]==b[j]:
            i+=1
            if i == a1:
                return True
    return i==a1

print(ch(B, A))

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [36]:
n = 10 
D = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(D)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

#

Set Based Practice Problem

1. Create a set with integers from 1 to 5.
2. Add an element to a set.
3. Remove an element from a set.
4. Check if an element exists in a set.

In [55]:
A = {1,2,3,4,5}
print('Set :',A)
A.add(6)
print('Added Element :',A)
A.remove(6)
print('Removed Element :',A)

c = int(input())
print('Element Exist: ', [c if c in A else False])

Set : {1, 2, 3, 4, 5}
Added Element : {1, 2, 3, 4, 5, 6}
Removed Element : {1, 2, 3, 4, 5}

 3

Element Exist:  [3]

5. Find the length of a set without using the `len()` function.
6. Clear all elements from a set.
7. Create a set of even numbers from 1 to 10.
8. Create a set of odd numbers from 1 to 10.
9. Find the union of two sets.

In [66]:
A = {1,2,3,4,5,6}
count = 0
for _ in A:
    count +=1
print('Length of the set: ', count )
A.clear()
print('Cleared Element :',A)
B = set(range(2,11,2))
print('Even Number :',B)
C = set(range(1,11,2))
print('Odd Number :',C)

Length of the set:  6
Cleared Element : set()
Even Number : {2, 4, 6, 8, 10}
Odd Number : {1, 3, 5, 7, 9}

In [69]:
A = {1,2,3,4,5,6}
B = {6,7,8,9,10}
C = A.union(B)
print('Uninon of Two Set: ',C)

Uninon of Two Set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [70]:
A = {1,2,3,4,5,6}
B = {6,7,8,9,10}
C = A.intersection(B)
print('intersection of Two Set: ',C)

intersection of Two Set:  {6}

11. Find the difference between two sets.

In [77]:
A = {1,2,8,4,5,6}
B = {6,5,8,9,10}
C = A^B
print('difference of Two Set: ',C)

difference of Two Set:  {1, 2, 4, 9, 10}

12. Check if a set is a subset of another set.
13. Check if a set is a superset of another set.

In [81]:
A = {1,2,3}
B = {1,2,3,4,5,6}
c = A.issubset(B)
d = B.issuperset(A)
print('Result Of subset and superset: ',c,d)

Result Of subset and superset:  True True

14. Create a set from a list.
15. Convert a set to a list.

In [82]:
A = [1,2,3,4,5,6]
B = {1,2,3,4,5,6}
print('List to set :', set(A))
print('Set to List :', list(B))

List to set : {1, 2, 3, 4, 5, 6}
Set to List : [1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.
17. Pop an element from a set.

In [84]:
A = {1,2,3,4,5,6,7}
A.remove(4)
print('Removed Element:',A)
A.pop()
print('Pop Applied:',A)

Removed Element: {1, 2, 3, 5, 6, 7}
Pop Applied: {2, 3, 5, 6, 7}

18. Check if two sets have no elements in common.

In [88]:
A = {1, 2, 3}
B = {4, 5, 6}
C = A.isdisjoint(B)
print('No Common Element :',C)

No Common Element : True

19. Find the symmetric difference between two sets.

In [90]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
C = A^B
print('Symmetric difference between set1 and set2:', C)

Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [93]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A |= B
print('Updated Element :',A)

Updated Element : {1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [94]:
def PM(a, b):
    
    def PMC(a):
        for i in range(2,a):
            if (a%i==0):
                return False
        return True
    
    A = [i for i in range(2, a+1) if PMC(i)][:b]
    
    return set(A)    

A = 100
B = 5
print('First 5 prime num: ',PM(A,B))

First 5 prime num:  {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [97]:
A = {1,2,3,4}
B = {1,2,3,4}

if A == B:
    print('Both are identical')
else:
    print('Both are not identical')

Both are identical

23. Create a frozen set

In [98]:
A = {1,2,3,4,5,6}
B = frozenset(A)
print('Forzen Set : ',B)

Forzen Set :  frozenset({1, 2, 3, 4, 5, 6})

24. Check if a set is disjoint with another set.

In [105]:
A = {1,2,3,4}
B = {6,7,8,9}
C = A.isdisjoint(B)
print('Disjoint with Another set :',C)

Disjoint with Another set : True

25. Create a set of squares of numbers from 1 to 5.

In [110]:
A = {1,2,3,4,5}
print('Squared Value :',{i*i for i in A})

Squared Value : {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.
27. Multiply all elements in a set by 2.

In [113]:
A = {1,2,3,4,5,6,7,8,9,10}
print('Even Number :',{i for i in A if i not in range(1,100000,2)})
print('Multiply by 2 :',{i*2 for i in A})

Even Number : {2, 4, 6, 8, 10}
Multiply by 2 : {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.
29. Check if a set is empty.
30. Create a nested set (hint: use frozenset).

In [115]:
import random
A = random.sample(range(1,100),10)
print('Random Number :',set(A))

Random Number : {11, 80, 49, 16, 83, 56, 26, 28, 61, 94}

In [116]:
B = set()

if not B:
    print('The set is empty')
else:
    print('The set is not empty')

The set is empty

In [118]:
nested_set = frozenset([frozenset({1, 2,3}), frozenset({4, 5})])
print('Nested Set:', nested_set)

Nested Set: frozenset({frozenset({1, 2, 3}), frozenset({4, 5})})

31. Remove an element from a set using the discard method.

In [124]:
A = set(range(1,11))
A.discard(5)
print('Using discard method :',A)

Using discard method : {1, 2, 3, 4, 6, 7, 8, 9, 10}

32. Compare two sets.

In [127]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print('The sets are equal')
else:
    print('The sets are not equal')

The sets are equal

33. Create a set from a string.
34. Convert a set of strings to a set of integers.
35. Convert a set of integers to a set of strings.
36. Create a set from a tuple.
37. Convert a set to a tuple.
38. Find the maximum value in a set.
39. Find the minimum value in a set.
40. Create a set from user input.

In [141]:
A = 'Data Science'
C = set([c for c in A])
print('String to set :',C)

B = {'1','2','3','4','5','6'}
D = {1,2,3,4,5,6}
E = (1,2,3,4,5)
print('Sting to integer:',{int(c) for c in B})
print('integer to Sting:',{str(c) for c in D})
print('Tuple to Set:', set(E))
print('Set to Tuple:', set(D))
print('Maximum Value:',max(D))
print('Minimum Value:',min(D))
print('User input: ', set(input('Enter a value here ')))

String to set : {' ', 'i', 'a', 't', 'e', 'n', 'D', 'c', 'S'}
Sting to integer: {1, 2, 3, 4, 5, 6}
integer to Sting: {'2', '5', '3', '4', '1', '6'}
Tuple to Set: {1, 2, 3, 4, 5}
Set to Tuple: {1, 2, 3, 4, 5, 6}
Maximum Value: 6
Minimum Value: 1

Enter a value here  123456

User input:  {'2', '5', '3', '4', '1', '6'}

41. Check if the intersection of two sets is empty.

In [144]:
A = {1, 2, 3}
B = {4, 5, 6}
C = A.isdisjoint(B)

if C:
    print('The intersection of set1 and set2 is empty')
else:
    print('The intersection of set1 and set2 is not empty')

The intersection of set1 and set2 is empty

42. Create a set of the first 5 Fibonacci numbers.

In [145]:
def fab(a):
    N = [1,2]
    for i in range(1,1000000+1):
        s = N[-2] + N[-1]
        N.append(s)
        if len(N) == a:
            break
    return N
print('Fibonacci Number :', set(fab(5)))

Fibonacci Number : {1, 2, 3, 5, 8}

43. Remove duplicates from a list using sets.

In [146]:
A = [1,2,2,3,4,4,4,5,7,8,8,9]
print('Removing duplicate from list :',set(A))

Removing duplicate from list : {1, 2, 3, 4, 5, 7, 8, 9}

44. Check if two sets have the same elements, regardless of their count.

In [148]:
A = {1, 2, 3}
B = {4, 2, 1}
C = A == B

if C:
    print('A and B have the same elements (regardless of count)')
else:
    print('A and B do not have the same elements (regardless of count)')

A and B do not have the same elements (regardless of count)

45. Create a set of the first `n` powers of 2.

In [149]:
n = 5
print('Creating set :',set([i*2 for i in range(n)]))

Creating set : {0, 2, 4, 6, 8}

46. Find the common elements between a set and a list.

In [150]:
A = {1,2,3,4,5}
B = [4,5,6,7,8]
print('Common Element :',[a for a in A if a in B])

Common Element : [4, 5]

47. Create a set of the first `n` triangular numbers.

In [151]:
n = 8
print('Triangle Number :', set([(int(i*(i+1)/2)) for i in range(1,n+1)]))

Triangle Number : {1, 3, 36, 6, 10, 15, 21, 28}

48. Check if a set contains another set as a subset.

In [153]:
C = {1, 2, 3, 4, 5}
D = {3, 4}
E = C.issuperset(D)

if E:
    print('C contains D as a subset')
else:
    print('C does not contain D as a subset')

C contains D as a subset

49. Create a set of alternating 1s and 0s of length `n`.

In [154]:
n = 10 
D = set(1 if i % 2 == 0 else 0 for i in range(n))
print(D)

{0, 1}

50. Merge multiple sets into one.

In [162]:
A = {1,2,3}
B = {4,5,6}
C = {7,8,9}
B.update(C)
A.update(B)

print('Merged Dataset: ',A)

Merged Dataset:  {1, 2, 3, 4, 5, 6, 7, 8, 9}